* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainRes {
  display: grid;
  grid-template-columns: repeat(5, 300px);
  grid-template-rows: repeat(5, 300px);
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
  gap: 10px;
  border-radius: 15%;
}

.cons {
  border-radius: 2%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5%;
}

@media only screen and (max-width: 375px) {
  .mainRes {
    grid-template-columns: repeat(1, 270px);
    grid-template-rows: repeat(25, 300px);
  }
}
