* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#navbarNav {
  justify-content: end;
}
body {
  background-color: rgba(0, 0, 0, 0.774) !important;
}

.navbar {
  width: 100%;
  padding-left: 40px !important;
  padding-right: 40px !important;
  background-color: #010102 !important;
}
.buzz {
  color: rgb(255, 145, 0) !important;
}

.navbar-toggler {
  background-color: white !important;
  height: 42px;
}

.navbar-brand {
  font-size: 28px !important;
  color: white !important;
}
/* navbar links */
.active {
  font-size: 20px !important;
  color: white !important;
}

.active:hover {
  color: rgb(255, 145, 0) !important;
  background-color: rgba(255, 255, 255, 0.315);
  border-radius: 20%;
}

/* who are we */

.who {
  margin-top: 45px;
  margin-bottom: 50px;
}
.whoP {
  display: flex;
  justify-content: center;
  color: white;
}

.whoChildC {
  text-align: center;
}
/* .tryNow {
  text-align: center;
} */
/* search bar */
.searchbar {
  margin-top: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
#search {
  width: 900px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

#submit {
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

#submit:hover {
  background-color: rgb(255, 145, 0);
  color: white;
  border: none;
}

.seeAllLinks {
  color: rgb(255, 145, 0);
  text-decoration: none;
}

.seeAllLinks:hover {
  color: white;
  text-decoration: underline rgb(255, 145, 0);
}

/* images for trending */

.titleSecMain {
  display: flex !important;
  margin-top: 50px;
  justify-content: center !important;
  align-content: center !important;
}

.trendingT {
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.trendingMain {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(1, 300px);
  gap: 10px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.conImg {
  border: solid white 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* link remember to style */
.seeMore {
  margin-left: 440px;
  margin-bottom: 40px;
}

/* footer stying */

footer {
  background-color: black;
  color: white;
}

.mainConFooter {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: end;
  padding-top: 10px;
}

.liCon {
  border-left: solid 1px white;
}

.liCon ul li {
  list-style: none;
}

.liCon a {
  text-decoration: none;
  color: white;
}

.liCon a:hover {
  color: rgb(255, 145, 0);
  text-decoration: underline;
}

.topSearch h6 {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}
.more {
  margin-right: 80px;
}

.more h6 {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.copyRight {
  padding-bottom: 5px;
  margin-left: 30px;
}

/* start of media query */
@media only screen and (max-width: 375px) {
  .navbar-brand {
    font-size: 20px !important;
  }
  #search {
    width: 300px;
    margin-bottom: 10px;
  }

  #submit {
    width: 300px;
    margin: 0;
    color: black !important;
  }

  .trending {
    grid-template-columns: 250px;
    padding-top: 30px;
    justify-content: center;
    gap: 10px;
  }
  .mainConFooter {
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    color: rgb(255, 145, 0);
  }

  .more {
    margin-right: 5px;
  }
  .copyRight {
    margin-left: 15px;
  }

  .trendingMain {
    grid-template-columns: 335px;
    grid-template-rows: repeat(2, 250px);
  }

  .seeMore {
    margin-left: 10px;
  }

  #img3 {
    display: none;
  }
  #img4 {
    display: none;
  }

  #img5 {
    display: none;
  }

  #img6 {
    display: none;
  }
}
